------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

3. 협업 필터링(Collaborative Filtering)
ㅁㄴㅇㄹ

In [1]:
from surprise import SVD
from surprise import accuracy
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split
import pandas as pd

ratings = pd.read_csv('ratings_small.csv')
reader = Reader()

# load_from_df사용해서 데이터프레임을 데이터셋으로 로드
# 인자에 userid-itemid-ratings 변수들이 포함된 데이터프레임형태로 넣어주면 됨!
data = Dataset.load_from_df(ratings[['userId','movieId','rating']],
                           reader=reader)
train, test = train_test_split(data, test_size=0.25, random_state=42)

algo = SVD()
algo.fit(train)
predictions = algo.test(test)
accuracy.rmse(predictions)

RMSE: 0.9068

0.9067724626921952

In [2]:
from surprise import Reader, Dataset, SVD, accuracy
from surprise.model_selection import cross_validate
reader = Reader()
ratings = pd.read_csv('./ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
data = Dataset.load_from_df(ratings[['userId', 'movieId','rating']], reader)

In [4]:
svd = SVD()

cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=2, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    0.9113  0.9086  0.9099  0.0013
MAE (testset)     0.7024  0.7015  0.7019  0.0004
Fit time          2.83    2.69    2.76    0.07
Test time         0.37    0.37    0.37    0.00

{'test_rmse': array([0.91128129, 0.90859336]),
 'test_mae': array([0.70235028, 0.7014533 ]),
 'fit_time': (2.834047794342041, 2.689472198486328),
 'test_time': (0.3650016784667969, 0.37304091453552246)}

In [5]:
trainset = data.build_full_trainset()
svd.fit(trainset)
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [6]:
svd.predict(1, 32, 5)

Prediction(uid=1, iid=32, r_ui=5, est=2.871711820360257, details={'was_impossible': False})