In [12]:
from surprise import SVD
from surprise import accuracy
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split
import pandas as pd
import numpy as np

df = pd.read_csv('ratings.csv')
df

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [14]:
f = ['count','mean']
df_summary = df.groupby('userId')['rating'].agg(f)
df_summary

        count      mean
userId
1          27  4.277778
2          22  3.318182
3          10  3.100000
4          62  3.500000
5          26  4.269231
...       ...       ...
270892     75  3.640000
270893    190  3.673684
270894    148  2.516892
270895     20  4.300000
270896    260  3.980769

[270896 rows x 2 columns]