In [24]:
import pandas as pd 
import numpy as np 
df1=pd.read_csv('./lingo_ex_movie.csv')
df1.head(3)

,index,belongs_to_collection,genres,id,production_companies,release_date,title,vote_average,vote_count
0,0,Toy Story Collection,"['Animation', 'Comedy', 'Family']",862,Pixar Animation Studios,1995-10-30,Toy Story,7.7,5415.0
1,1,NaN,"['Adventure', 'Fantasy', 'Family']",8844,TriStar Pictures,1995-12-15,Jumanji,6.9,2413.0
2,2,Grumpy Old Men Collection,"['Romance', 'Comedy']",15602,Warner Bros.,1995-12-22,Grumpier Old Men,6.5,92.0

In [25]:
C= df1['vote_average'].mean()
#df2['vote_average']
C
#영화의 전체 평균 평점

5.618207215134185

In [26]:
m= df1['vote_count'].quantile(0.9)
m
# quantile(n) : vote_count 중에서 상위 100 * (1 - n)퍼에 있는 영화가 받은 투표 수

160.0

In [27]:
q_movies = df1.loc[df1['vote_count'] >= m]
q_movies.shape
# 상위 10퍼의 data_set

(4555, 9)

In [28]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [29]:
q_movies['new_average'] = q_movies.apply(weighted_rating, axis=1)
#vote_count 상위 10% movies에 대하여, 위 함수를 적용하여 각각의 점수를 측정함
q_movies.head(3)

<ipython-input-29-f25b3e4602ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q_movies['new_average'] = q_movies.apply(weighted_rating, axis=1)

,index,belongs_to_collection,genres,id,production_companies,release_date,title,vote_average,vote_count,new_average
0,0,Toy Story Collection,"['Animation', 'Comedy', 'Family']",862,Pixar Animation Studios,1995-10-30,Toy Story,7.7,5415.0,7.640253
1,1,NaN,"['Adventure', 'Fantasy', 'Family']",8844,TriStar Pictures,1995-12-15,Jumanji,6.9,2413.0,6.820293
4,4,Father of the Bride Collection,['Comedy'],11862,Sandollar Productions,1995-02-10,Father of the Bride Part II,5.7,173.0,5.660700

In [30]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('new_average', ascending=False)

#score 순으로 정렬함. 쇼생크 탈출, 파이트 클럽, 다크나이트 순으로 나옴
q_movies[['title', 'vote_count', 'vote_average', 'new_average']].head(10)

                             title  vote_count  vote_average  new_average
314       The Shawshank Redemption      8358.0           8.5     8.445869
834                  The Godfather      6024.0           8.5     8.425439
10309  Dilwale Dulhania Le Jayenge       661.0           9.1     8.421453
12481              The Dark Knight     12269.0           8.3     8.265477
2843                    Fight Club      9678.0           8.3     8.256385
292                   Pulp Fiction      8670.0           8.3     8.251406
522               Schindler's List      4436.0           8.3     8.206639
23673                     Whiplash      4376.0           8.3     8.205404
5481                 Spirited Away      3968.0           8.3     8.196055
2211             Life Is Beautiful      3643.0           8.3     8.187171