함수 메모장
파일 불러오기 : pd.read_csv('./tmdb_5000_credits.csv')
상위 n개 행 불러오기 : df2.head(n)
평균 : df2['행이름'].mean()
상위 100n% 값들만 필터링하기 : df2['행이름'].quantile(1 - n)
특정 행 검색 : df2.loc[조건식] (조건식 예시 : df2['행이름'] >= m)
특정 열 검색 : df2.loc['행이름']
각 행에 함수 적용 : q_movies.apply(함수명) (함수명 : 첫번째 parameter가 q_movies이여야함?)
행 정렬 : q_movies.sort_values(열name, ascending=False)

In [38]:
input = 'Animation Comedy Family'

genres_infor = 'Animation Comedy Family Adventure Fantasy Romance Drama Action Crime Thriller Horror History Science_Fiction Mystery War Foreign Music Documentary Western TV_Movie Carousel_Productions Vision_View_Entertainment Telescene_Film_Group_Productions Aniplex GoHands BROSTA_TV Mardock_Scramble_Production_Committee Sentai_Filmworks Odyssey_Media Pulser_Productions Rogue_State The_Cartel'
# 32개의 장르

from ast import literal_eval
import pandas as pd
import numpy as np
content = pd.read_csv('lingo_ex_movie.csv')

content.head(10)

,Unnamed: 0,belongs_to_collection,genres,id,production_companies,release_date,title,vote_average,vote_count
0,0,Toy Story Collection,"['Animation', 'Comedy', 'Family']",862,Pixar Animation Studios,1995-10-30,Toy Story,7.7,5415.0
1,1,NaN,"['Adventure', 'Fantasy', 'Family']",8844,TriStar Pictures,1995-12-15,Jumanji,6.9,2413.0
2,2,Grumpy Old Men Collection,"['Romance', 'Comedy']",15602,Warner Bros.,1995-12-22,Grumpier Old Men,6.5,92.0
3,3,NaN,"['Comedy', 'Drama', 'Romance']",31357,Twentieth Century Fox Film Corporation,1995-12-22,Waiting to Exhale,6.1,34.0
4,4,Father of the Bride Collection,['Comedy'],11862,Sandollar Productions,1995-02-10,Father of the Bride Part II,5.7,173.0
5,5,NaN,"['Action', 'Crime', 'Drama', 'Thriller']",949,Regency Enterprises,1995-12-15,Heat,7.7,1886.0
6,6,NaN,"['Comedy', 'Romance']",11860,Paramount Pictures,1995-12-15,Sabrina,6.2,141.0
7,7,NaN,"['Action', 'Adventure', 'Drama', 'Family']",45325,Walt Disney Pictures,1995-12-22,Tom and Huck,5.4,45.0
8,8,NaN,"['Action', 'Adventure', 'Thriller']",9091,Universal Pictures,1995-12-22,Sudden Death,5.5,174.0
9,9,James Bond Collection,"['Adventure', 'Action', 'Thriller']",710,United Artists,1995-11-16,GoldenEye,6.6,1194.0

In [39]:
from ast import literal_eval
content['genres'] = content['genres'].apply(literal_eval)
content['genres_literal'] = content['genres'].apply(lambda x : (' ').join(x))
content['genres_literal'].head(10)

0          Animation Comedy Family
1         Adventure Fantasy Family
2                   Romance Comedy
3             Comedy Drama Romance
4                           Comedy
5      Action Crime Drama Thriller
6                   Comedy Romance
7    Action Adventure Drama Family
8        Action Adventure Thriller
9        Adventure Action Thriller
Name: genres_literal, dtype: object

In [40]:
# 모든 변수가 텍스트로 이루어졌으니 Countvectorizer로 feature 벡터화시키기
# 경우에 따라 추가적으로 Lemmatization 추가해 토큰화 전용 함수 추가도 가능!

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

input_vect = TfidfVectorizer().fit_transform(pd.Series([input, genres_infor]))
genres_vect = TfidfVectorizer().fit_transform(content['genres_literal'])

# 장르에 따른 콘텐츠별 코사인 유사도 추출
genre_sim = cosine_similarity(input_vect, genres_vect)
print(genre_sim[:3])
print(genre_sim[0][3133])

[[0.97124907 0.33454119 0.35201331 ... 0.         0.         0.        ]
 [0.21666459 0.2829564  0.2220049  ... 0.3075141  0.         0.        ]]
0.0

In [41]:

def sort_similar(input):
    for i in range(len(input)):
        input[i] = input[i].argsort()[::-1]
sort_similar(genre_sim)
print(genre_sim)

[[    0. 27496. 15128. ... 27112. 27113. 22732.]
 [ 3088. 41345. 16387. ... 36155. 36164. 45465.]]

In [58]:

#print(input_sim_idx[0])
answer = []
answer2 = []
for i in range(10):
    answer.append(content.loc[genre_sim[0][i]][['title']])
    answer2.append(content.loc[genre_sim[0][i]][['genres']])
print(answer)
print(answer2)

[title    Toy Story
Name: 0, dtype: object, title    I Want a Dog for Christmas, Charlie Brown
Name: 27496, dtype: object, title    Panda! Go Panda!
Name: 15128, dtype: object, title    Garfield
Name: 7729, dtype: object, title    Dug's Special Mission
Name: 22855, dtype: object, title    Kronk's New Groove
Name: 15028, dtype: object, title    You're a Good Man, Charlie Brown
Name: 14990, dtype: object, title    The Emoji Movie
Name: 45139, dtype: object, title    Mr. Bug Goes to Town
Name: 18367, dtype: object, title    Banana
Name: 45136, dtype: object]
[genres    [Animation, Comedy, Family]
Name: 0, dtype: object, genres    [Animation, Comedy, Family]
Name: 27496, dtype: object, genres    [Animation, Family, Comedy]
Name: 15128, dtype: object, genres    [Animation, Comedy, Family]
Name: 7729, dtype: object, genres    [Animation, Comedy, Family]
Name: 22855, dtype: object, genres    [Animation, Comedy, Family]
Name: 15028, dtype: object, genres    [Animation, Family, Comedy]
Name: 14990, dtype: object, genres    [Comedy, Family, Animation]
Name: 45139, dtype: object, genres    [Animation, Comedy, Family]
Name: 18367, dtype: object, genres    [Animation, Comedy, Family]
Name: 45136, dtype: object]